body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

/*--------------navbar-----------------------*/
.logo-image{
    height: 2rem;
}

.brand-logo, .recipe-title{
    font-family: 'Courgette', cursive;
}
.recipe-title{
    color: darkcyan;
}

.nav-icon{
    font-size: inherit;
    color: darkcyan;
}

.sidenav-icon{
    float: inherit;
    margin-right: 3px;
    color: coral;
}

.side-nav li>a {
    color: rgba(9, 169, 126, 0.87);
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    height: 4rem;
    line-height: 48px;
    padding: 0 32px;
    border-bottom: 1px solid gainsboro;
}

.side-nav li>a:hover{
    background: #75e2b3;
}

/*----------------------footer----------------------*/
.footer-link:hover{
    color: rgb(20, 13, 1);
}

.footer-link{
    color: white;
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.social-icons{
    text-align: right;
}

.social-icon{
    font-size: 2rem;
    margin-right: 1rem;
}

.social-icon:hover{
    color: black;
}

.about-terms-text{
    padding: 10px;
}

/*-----------------dashboard-------------------*/
.profile-button{
    margin-top: 1rem;
    margin-right: 5px;
    height: 5rem;
    border-radius: 3%;
}

.profile-button-icon{
    font-size: 1.8rem;
}

.collapsible-header{
    display: inherit;
}

.dashboard-link{
    color: #ffa318;
}

.dashboard-link:hover{
    color: #7aa5eb;
}

.recipe-button{
    margin-bottom: 1rem;
}

#modal1{
    overflow: inherit;
    width:-moz-fit-content;
    width: fit-content;
}

/*-----------------add recipe page-----------------*/
.add-recipe-title{
    padding: 0;
    margin-top: 2rem;
    display: grid;
}

/*-----------------add image page ------------------*/
.waves-input-wrapper .waves-button-input {
    top: 10px;
}

/*---------------single recipe page-----------------*/
.recipe-image-panel{
    padding:10px;
    display:inline-block;
}

.info-card{
    margin: .1rem 0rem 0.4rem 0.2rem;
}

.card-icon{
    font-size: 3rem;
    color: #FF9800;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 4rem;
    margin-top: 3px;
}

.single-recipe-avatar{
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.single-recipe-divs{
    color: darkcyan;
}

.main-ingredient{
    font-size: 1.2rem;
}

.info{
    background-color: #f5f5f5;
}

.comments-icon{
    white-space: nowrap;
}

.like-button{
    margin-bottom: 1.5rem;
}

.comments{
    margin-top: 1rem;
}

/*---------------all recipes page ---------------*/
.recipes-image{
    height: 15rem;
}

.main-ingredient-color{
    color: #75e2b3;
}

.all-recipes-avatar{
    width: 1.5rem;
    height: 1.5rem;
}

.recipes-icons{
    margin-bottom: 1px;
}

.views{
    border-left: 1px solid #43a047;
    border-right: 1px solid #43a047;
}

.card .card-content .card-title {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -1px;
    color: rgb(6, 128, 79);
    margin-bottom: 0px;
    overflow: hidden;           /*hide part of text that is too long*/
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card .card-content .card-title:hover{
    overflow: visible;        /*on hover show full text*/
    white-space: normal;
    height:auto; 
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    padding-top: 0.3rem;
}

.card .card-content p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card .card-content p:hover{
    overflow: visible; 
    white-space: normal;
    height:auto; 
}

.card .card-action {
    padding: 2px 24px;
    font-size: large;
}

/*-----------------results page-------------------*/
.result-search{
    margin-top: 2rem;
    border-radius: 8px;
    padding: inherit;
}

.search-bar{
    margin-bottom: 0px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  height: 3.2rem;
  background-color: white;
}

.search-button {
  width: 40px;
  height: 3.4rem;
  border: 1px solid rgb(94, 166, 147);
  background: rgba(73, 181, 164, 0.86);
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 23px;
}

.search-field{
    border: #f4f4f4 3px solid !important;
}

.choose-area input.select-dropdown{
    border: #f4f4f4 3px solid !important;
    color: black;
}

.choose-area{
    position: relative;
    bottom: 0rem;
}

.choose-field{
    text-align: center;
    display: block;
    margin: 0 auto; 
}

/*------------------home page----------------------*/
.card-search{
    width: 100%; 
    margin: 0 auto;
    padding: 1px;
}

.text-under-icon{
    font-size: 1.4rem;
}

.home-page-icon{
    font-size: 2rem;
    color: rgb(22, 182, 182);
    margin-bottom: 0.8rem;
}

.recipe-title-home-page{
    font-size: 1.5rem;
    margin-left: 0.4rem;
}

.title{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(205, 251, 247, 0.58);
    color: black;
}

.likes{
    width: auto;
    position: absolute;
    top: 0rem;
    bottom: 12rem;
    background-color: rgba(42, 165, 126, 0.973);
    color: rgb(0, 255, 132);
    font-size: 1.3rem;
}

.long-image-header{
    height: 12rem;
}

.long-image{
    height: 12rem;
    width: 100%;
}

/*--------------------browse page------------------*/
.category{
    color: #1fa3a7;
}

.subcategory{
    color: #cea400;
}

/*--------------------alerts------------------------*/
.materialert{
    position: relative;
    min-width: 150px;
    max-width: 47rem;
    padding: 12px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.1s linear;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.materialert.info{
    background-color: #039be5;
    color: #fff;
}

.materialert.success{
    background-color: #43a047;
    color: #fff;
}

.materialert.error{
    background-color: #c62828;
    color: #fff;
}

.materialert.danger{
    background-color: #c62828;
    color: #fff;
}

.materialert.warning{
    background-color: #fbc02d;
    color: #fff;
}

/*---------------scroll up button--------------------*/
#button-up {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 2px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button-up::after {
  content: "";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button-up:hover {
  cursor: pointer;
  background-color: #333;
}

#button-up:active {
  background-color: #555;
}

#button-up.show {
  opacity: 1;
  visibility: visible;
}

.arrow-up{
font-size: xx-large;
    position: absolute;
    left: 15px;
    top: 9px;
    color: azure;
}

/*-----------------media queries----------------------*/
@media (max-width: 600px){
    .social-icons, .footer-links{
        text-align: center;
    }

    .social-icons{
        margin-top: 1rem;
    }

    .recipe-button{
        width: 90%;
    }

    .profile-button{
        width: 80%;
    }

    .cancel-button{
        margin-top: 1.5rem; 
    }

    .recipe-image-panel{
        padding: 3px;
    }

    .search{
        width: 101%;
    }

    .search-field{
        left: 0px; 
    }

    .choose-field{
        margin-top: 1rem;
    }
    .card-search{
        width: 100%; 
        margin: 0 auto;
}
}

/*preloader*/

.loader  {
  animation: rotate 1s infinite;  
  height: 50px;
  width: 50px;
  position: absolute;
top: 48%;
left: 48%;
}

.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;  
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite; 
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 999999;
background-color: rgba(132, 228, 132, 0.347);
}