{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="container">
        <div class="center card teal lighten-1 white-text add-recipe-title">
            <h3>Add image</h3>

            <br>
        </div>
        If You don't have image now, You can add it later from Your dashboard.
        <br>

        <form method="POST" action="{{ url_for('upload_recipe_image', recipe_id=recipe_id) }}"
            enctype="multipart/form-data">
            <div class="file-field input-field">
                <div class="btn">
                    <i class="fas fa-paperclip"></i>
                    <span>Add File</span>
                    <input type="file" name="recipe_image">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <input type="submit" class="btn waves-effect lighten-4" value="Send Image">
            <a href="{{url_for('dashboard')}}"
                class="btn  grey lighten-3 black-text waves-effect waves-light cancel-button">Cancel</a>
        </form>
    </div>
</div>

{% endblock content %}