{% extends "base.html" %}

{% block content %}

<!---------------------------------images slider---------------------------------------------------->
<div class="slider">
    <ul class="slides">
        <li>
            <img src="{{url_for('static', filename='front_page/1.jpg')}}">
            <div class="caption center-align">
                <h3>Welcome to Recipes website!</h3>
                <h5 class="light grey-text text-lighten-3">Where all recipes are added by users.</h5>
            </div>
        </li>
        <li>
            <img src="{{url_for('static', filename='front_page/2.jpg')}}">
            <div class="caption left-align">
                <h3>We have all recipes you need.</h3>
                <h5 class="light grey-text text-lighten-3">And even more <i class="far fa-smile-wink"></i></h5>
            </div>
        </li>
        <li>
            <img src="{{url_for('static', filename='front_page/3.jpg')}}">
            <div class="caption right-align">
                <h3 class="teal-text text-darken-2">Browse our catalog.</h3>
                <h5 class=" teal-text text-darken-2">You will find something for you.</h5>
            </div>
        </li>
    </ul>
</div>

<!---------------------------------------Searchbar-------------------------------------------------->
<section class="section teal dark-text center">
    <br>
    <div class="container">
        <div class="card-search">
            <form method="POST" action="{{ url_for('results') }}">
                <div class="row search-bar">
                    <div class="col s12 m8 center align">

                        <div class="search">
                            {{ form.search(class="input-field  search-field white validate valid", placeholder='SEARCH') }}
                            <button type="submit" class="search-button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col s12 m4 center choose-area">
                        {{ form.choose(class="input-field  choose-field  white  ") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-------------------------------------info icons--------------------------------------------------------->
<div class="section blue-grey lighten-5">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 center">
                <div class="card-panel"><i class="far fa-file-alt home-page-icon"></i><br><span
                        class="text-under-icon">{{num_of_recipes}} recipes</span></div>
            </div>
            <div class="col s12 m4 center">
                <div class="card-panel"><i class="far fa-user home-page-icon"></i><br><span class="text-under-icon">Added by
                        {{num_of_users}} users</span></div>
            </div>
            <div class="col s12 m4 center">
                <div class="card-panel"><i class="fas fa-hamburger home-page-icon"></i><br><span class="text-under-icon">In 5
                        categories</span></div>
            </div>
        </div>
    </div>
</div>

<!-------------------------------------latest recipes-------------------------------------------------->
<section class=" section grey lighten-4">
    <h4 class="center">
        <span class="teal-text">Latest</span> Recipes</h4>
    <div class="container">
        <div class="row">
            {%for recipe in latest_recipes %}
            <div class="col s12 m4 l4  ">
                <a href="single_recipe/{{recipe._id}}">
                    <div class="card hoverable">
                        <div class="card-image ">
                            {% if 'recipe_image_name' in recipe %}
                            <img src="{{url_for('file', filename=recipe['recipe_image_name'])}}" class="recipes-image ">
                            {% else %}
                            <img src="{{image_default}}" class="recipes-image">
                            {% endif %}
                        </div>
                        <div class="title">
                            <span class="recipe-title-home-page">{{recipe.title}}</span>
                            <li>Added: {{recipe.date_of_adding}}</li>
                            <li>By: {{recipe.author}}</li>
                        </div>
                </a>
            </div>
        </div>
        {%endfor%}
    </div>
    </div>
</section>

<!----------------------------------------most liked recipes---------------------------------->
<div class="section blue-grey lighten-5">
    <h4 class="center">
        <span class="teal-text">Most Liked</span> Recipes</h4>
    <div class="container">
        <div class="row">
            {%for recipe in most_liked_recipes %}
            <div class="col s12 m4 l4  ">
                <a href="single_recipe/{{recipe._id}}">
                    <div class="card hoverable">
                        <div class="card-image ">
                            {% if 'recipe_image_name' in recipe %}
                            <img src="{{url_for('file', filename=recipe['recipe_image_name'])}}" class="recipes-image ">
                            {% else %}
                            <img src="{{image_default}}" class="recipes-image">
                            {% endif %}
                        </div>

                        <div class="likes">
                            {{recipe.likes}} likes
                        </div>

                        <div class="title">
                            <span class="recipe-title-home-page">{{recipe.title}}</span>
                            <li>Added: {{recipe.date_of_adding}}</li>
                            <li>By: {{recipe.author}}</li>
                        </div>
                </a>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
</div>

<!----------------------------------------browse by category section--------------------------------------->
<section class=" section grey lighten-4">
    <h4 class="center">
        <span class="teal-text">Browse</span> by category</h4>

    <div class="container">

        <div class="row">
            <div class="col s12 m4 ">
                <ul class="collapsible " data-collapsible="accordion">
                    <li class="collection-header long-image-header"><img
                            src="{{url_for('static', filename='categories/difficlut.jpg')}}" class="long-image"></li>
                    <li>
                        <div class="collapsible-header">Difficulty<span class="right"><i
                                    class="fas fa-angle-down"></i></span></div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'difficulty',  subcategory ='easy', page =0)}}"><span>Easy({{count_document('difficulty', 'easy')}})</span></a>
                        </div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'difficulty',  subcategory ='medium', page =0)}}"><span>Medium({{count_document('difficulty', 'medium')}})</span></a>
                        </div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'difficulty', subcategory ='difficult', page =0)}}"><span>Difficult({{count_document('difficulty', 'difficult')}})</span></a>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="col s12 m4 ">
                <ul class="collapsible " data-collapsible="accordion">
                    <li class="collection-header long-image-header"><img
                            src="{{url_for('static', filename='categories/clock.jpg')}}" class="long-image"></li>
                    <li>
                        <div class="collapsible-header">Prep time<span class="right"><i
                                    class="fas fa-angle-down"></i></span></div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'prep_time', subcategory='0-31', page =0)}}"><span>1-30
                                    minutes({{count_document('prep_time', '0-31')}})</span></a></div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'prep_time', subcategory='30-61', page =0)}}"><span>30-60
                                    minutes({{count_document('prep_time', '30-61')}})</span></a></div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'prep_time', subcategory='60-181', page =0)}}"><span>More
                                    than an hour({{count_document('prep_time', '60-181')}})</span></a></div>
                    </li>

                </ul>
            </div>

            <div class="col s12 m4 ">
                <ul class="collapsible " data-collapsible="accordion">
                    <li class="collection-header long-image-header"><img
                            src="{{url_for('static', filename='categories/ingredient.jpg')}}" class="long-image"> </li>
                    <li>
                        <div class="collapsible-header">Main ingredient<span class="right"><i
                                    class="fas fa-angle-down"></i></span></div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'main_ingredient', subcategory='eggs', page =0)}}"><span>Eggs({{count_document('main_ingredient', 'eggs')}})</span></a>
                        </div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'main_ingredient', subcategory='cheese', page =0)}}"><span>Cheese({{count_document('main_ingredient', 'cheese')}})</span></a>
                        </div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'main_ingredient', subcategory='pasta', page =0)}}"><span>Pasta({{count_document('main_ingredient', 'pasta')}})</span></a>
                        </div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'main_ingredient', subcategory='wheat', page =0)}}"><span>Wheat({{count_document('main_ingredient', 'wheat')}})</span></a>
                        </div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'main_ingredient', subcategory='vegs', page =0)}}"><span>Vegs({{count_document('main_ingredient', 'vegs')}})</span></a>
                        </div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'main_ingredient', subcategory='fruits', page =0)}}"><span>Fruits({{count_document('main_ingredient', 'fruits')}})</span></a>
                        </div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'main_ingredient', subcategory='meat', page =0)}}"><span>Meat({{count_document('main_ingredient', 'meat')}})</span></a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col s12 m4 ">
                <ul class="collapsible " data-collapsible="accordion">
                    <li class="collection-header long-image-header"><img
                            src="{{url_for('static', filename='categories/cousine.jpg')}}" class="long-image"></li>
                    <li>
                        <div class="collapsible-header">Cousine<span class="right"><i
                                    class="fas fa-angle-down"></i></span>
                        </div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'cousine', subcategory='american', page =0)}}"><span>American({{count_document('cousine', 'american')}})</span></a>
                        </div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'cousine', subcategory='african', page =0)}}"><span>African({{count_document('cousine', 'african')}})</span></a>
                        </div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'cousine', subcategory='european', page =0)}}"><span>European({{count_document('cousine', 'european')}})</span></a>
                        </div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'cousine', subcategory='asian', page =0)}}"><span>Asian({{count_document('cousine', 'asian')}})</span></a>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="col s12 m4 ">
                <ul class="collapsible " data-collapsible="accordion">
                    <li class="collection-header long-image-header"><img
                            src="{{url_for('static', filename='categories/servings.jpg')}}" class="long-image"></li>
                    <li>
                        <div class="collapsible-header">Servings<span class="right"><i
                                    class="fas fa-angle-down"></i></span>
                        </div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'servings', subcategory ='0-3', page =0)}}"><span>1-2
                                    servings({{count_document('servings', '0-3')}})</span></a></div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'servings', subcategory ='2-5', page =0)}}"><span>3-4
                                    servings({{count_document('servings', '2-5')}})</span></a></div>
                        <div class="collapsible-body"><a
                                href="{{url_for('browse', category = 'servings', subcategory ='4-7', page =0)}}"><span>5-6
                                    servings({{count_document('servings', '4-7')}})</span></a></div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript">
           //Preloader
        $(window).on("load", function () {
            preloaderFadeOutTime = 500;
            function hidePreloader() {
                var preloader = $('.spinner-wrapper');
                preloader.fadeOut(preloaderFadeOutTime);
            }
            hidePreloader();
        });
        
        $(document).ready(function () {
            $('.collapsible').collapsible();
            $('.flash').delay().fadeIn('normal', function () {
                $(this).delay(3000).fadeOut();
            });
            $('.slider').slider({
                indicators: false,
                height: 320,
                transition: 400,
                interval: 4000
            });
  
         });
</script>

{% endblock content %}